{% extends "base/base.html" %}

{% block contenido %}
  <center>
        <h2>
          Abarca temas tales como:
        </h2>
      </center>
  <section>
        <div class="container-all">
          <h2>1 - Cultura y Arte:</h2>
          <img src="https://www.google.com/url?sa=iurl=https%3A%2F%2Fwww.todo-argentina.net%2Fgeografia%2Fprovincias%2Fchaco%2Fturismo.htmlpsig=AOvVaw0yrJZzNkAZEzaWFat8CwpTust=1630063169065000source=imagescd=vfeved=0CAsQjRxqFwoTCPDGjdXIzvICFQAAAAAdAAAAABAD" width="300" height="300">
        </div>

         
  </section>

   <section>
      <center>
        <p>
          <h3>
            Por cada pregunta respondida se le sumara su respectivo punto y al final del juego se les dara un resultado final con su respectivo puntaje, eso dependera si ha respondido bien a todas las preguntas que esten en el cuestionario en curso.
          </h3>
        </p>
      </center>

      <center>
        <p>
          <h2>
            ¿Como es la modalidad del juego?
          </h2>
        </p>
      </center>
        <div>
        <center>
          <p>
            <h2>
              - La modalidad del juego es de multiple choice, donde se le presentara una pregunta con dichas opciones de las cuales una o mas de una seria la respuesta correcta.
            </h2>
          </p>
        </center>
      </div>
    </section>
  
{% endblock contenido %}