{% extends "base/base.html" %}

{% block contenido %}
	<div class="listarrr">
		<div class="container">

			<div class="row">
				<div class="col">
					<h2>Lista de Usuarios</h2>
				</div>
			</div>

			<div class="row" style="padding:10px;">
				<div class="col">
					<a href="{% url 'usuarios:nuevo' %}" class="btn btn-success" style="float:right;">Nuevo Amigo</a>
				</div>
			</div>

			<div class="row">
				<div class="col">				
					<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">Nombre</th>
					      <th scope="col">Apellido</th>
					    </tr>
					  </thead>
					  <tbody>
					  	{% for a in object_list %}
						    <tr>
						      <td>{{a.nombre}}</td>
						      <td>{{a.apellido}}</td>
						    </tr>
						{% empty %}
							<tr>
								<td>No se encontraron resultados</td>
							</tr>
						{% endfor %}
					  </tbody>
					</table>
			</div>
		</div>
	</div>
{% endblock contenido %}

